@import url('https://fonts.googleapis.com/css?family=Lobster');

* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
}












/* Search Form */
form {
  position: relative;
  width: 395px;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #e1e1e1;
  outline: none;
  background: #FFF;
  color: #9E9C9C;
}
button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 30px;
  border: 1px solid #e1e1e1;
  border-left: 0;
  background: #FFF;
  cursor: pointer;
}

button img {
margin-top: 3px;
}
